{% extends "base.html" %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block styles %}
    <style>
    a.edit {
        text-decoration-line: underline;
    }
    </style>
{% endblock styles %}
{% block content %}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="form-group">
								First Name: {{ request.user.first_name }}
							</div>
							<div class="form-group">
								Last Name: {{ request.user.last_name }}
							</div>
							<div class="form-group">
								Email: {{ request.user.last_name }}
							</div>
                            <div class="form-group">
								Province: {{ request.user.profile.city.province }}
							</div>
							<div class="form-group">
								City: {{ request.user.profile.city }}
							</div>
							<div class="form-group">
								Postal Code:{{ request.user.profile.postal_code }}
							</div>
							<div class="form-group">
								Mobile: {{ request.user.mobile }}
							</div>
                            <div class="form-group">
								Address: {{ request.user.profile.address }}
							</div>
                            <a href="{% url 'accounts:edit_profile' %}?next={% url 'checkout:checkout' %}" class="edit">Edit</a>
						</div>
						<!-- /Billing Details -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
                                {% for item in cart %}
								<div class="order-col">
									<div>{{ item.quantity }}x {{ item.product.title }}</div>
									<div>{{ item.product.get_price }}</div>
								</div>
                                {% endfor %}
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
                            <div>
                                <div><strong>Discount Code</strong></div>
                                Code:
                                <input type="hidden" id="order_price" value="{{ cart.get_total_price }}">
                                <input type="text" id="discount_code" />
                                <input type="submit" value="Apply" id="discount_button">
                            </div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total" id="order_total_price">{{ cart.get_total_price }}</strong></div>
							</div>
						</div>
                        <form method="post">
                            <!-- Shiping Details -->
                            <div class="shiping-details">
                                <div class="input-checkbox">
                                    <input type="checkbox" name="different_address" id="shiping-address">
                                    <label for="shiping-address">
                                        <span></span>
                                        Ship to a diffrent address?
                                    </label>
                                    <div class="caption">
                                        <div class="section-title">
                                            <h3 class="title">Shiping address</h3>
                                        </div>
                                        <div class="form-group">
                                            <input class="input" type="text" name="first_name" placeholder="First Name">
                                        </div>
                                        <div class="form-group">
                                            <input class="input" type="text" name="last_name" placeholder="Last Name">
                                        </div>
                                        <div class="form-group">
                                            <select class="input" name="province" id="province">
                                                <option value="">Select Province....</option>
                                                {% for item in provinces %}
                                                    <option value="{{ item.id }}">{{ item.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="input" name="city" id="city">
                                                <option value="">Select City....</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input class="input" type="text" name="postal_code" placeholder="postal_code">
                                        </div>
                                        <div class="form-group">
                                            <input class="input" type="tel" name="mobile" placeholder="Mobile">
                                        </div>
                                        <div class="form-group">
                                            <input class="input" type="text" name="address" placeholder="Address">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Shiping Details -->
                            {% csrf_token %}
                            <input type="hidden" name="discount_code">
                            <!-- Order notes -->
                            <div class="order-notes">
                                <textarea class="input" name="note" placeholder="Order Notes"></textarea>
                            </div>
                            <!-- /Order notes -->
						    <input type="submit" class="primary-btn order-submit" value="Place Order">
                        </form>
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#shiping-address').change(function(){
               if ($(this).is(':checked')){
                   $('input[name="first_name"]').prop('required', true);
                   $('input[name="last_name"]').prop('required', true);
                   $('input[name="province"]').prop('required', true);
                   $('input[name="city"]').prop('required', true);
                   $('input[name="postal_code"]').prop('required', true);
                   $('input[name="mobile"]').prop('required', true);
                   $('input[name="address"]').prop('required', true);
                   $('select[name="province"]').prop('required', true);
                   $('select[name="city"]').prop('required', true);
               } else {
                   $('input[name="first_name"]').removeAttr('required');
                   $('input[name="last_name"]').removeAttr('required');
                   $('input[name="province"]').removeAttr('required');
                   $('input[name="city"]').removeAttr('required');
                   $('input[name="postal_code"]').removeAttr('required');
                   $('input[name="mobile"]').removeAttr('required');
                   $('input[name="address"]').removeAttr('required');
                   $('select[name="province"]').removeAttr('required');
                   $('select[name="city"]').removeAttr('required');
               }
            });

            //
            $('#province').change(function(){
                $('#city').empty();
                $('#city').append('<option value="">Select City....</option>');

                let province_id = $(this).val();

                $.ajax({
                    url: "http://127.0.0.1:8000/accounts/get-cities/",
                    dataType: "json",
                    data: {
                        'province_id': province_id
                    },
                    success: function(data){
                        $.map(data, function(item){
                            $('#city').append('<option value="'+ item.id +'">'+ item.title +'</option>');
                        });
                    }
                });
            });

            //---------------------apply discount-----------------//
            $('#discount_button').click(function(e){
                e.preventDefault();
                let orderPrice = $('#order_price').val();
                let discountCode = $('#discount_code').val();

                $.ajax({
                    type: 'GET',
                    url: '{% url "discount:apply_discount" %}',
                    dataType: "json",
                    data: {
                        'order_price': orderPrice,
                        'discount_code': discountCode
                    },
                    success: function(data){
                        let resultLabel = $('<label></label>').text('Discount: ' + data.total_discount);
                        $('#discount_button').after(resultLabel);
                        $('#order_total_price').text(data.new_price);
                        $('input[name="discount_code"]').val(discountCode);
                    }
                });
            });
        });
    </script>
{% endblock scripts %}