{% extends "base.html" %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block styles %}
    <style>
    a.edit {
        text-decoration-line: underline;
    }
    </style>
{% endblock styles %}
{% block content %}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="form-group">
								First Name: {{ request.user.first_name }}
							</div>
							<div class="form-group">
								Last Name: {{ request.user.last_name }}
							</div>
							<div class="form-group">
								Email: {{ request.user.last_name }}
							</div>
                            <div class="form-group">
								Province: {{ request.user.profile.city.province }}
							</div>
							<div class="form-group">
								City: {{ request.user.profile.city }}
							</div>
							<div class="form-group">
								Postal Code:{{ request.user.profile.postal_code }}
							</div>
							<div class="form-group">
								Mobile: {{ request.user.mobile }}
							</div>
                            <div class="form-group">
								Address: {{ request.user.profile.address }}
							</div>
                            <a href="{% url 'accounts:edit_profile' %}?next={% url 'shop:checkout' %}" class="edit">Edit</a>
						</div>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						<div class="shiping-details">
							<div class="section-title">
								<h3 class="title">Shiping address</h3>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="shiping-address">
								<label for="shiping-address">
									<span></span>
									Ship to a diffrent address?
								</label>
								<div class="caption">
									<div class="form-group">
										<input class="input" type="text" name="first-name" placeholder="First Name">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="last-name" placeholder="Last Name">
									</div>
									<div class="form-group">
										<input class="input" type="email" name="email" placeholder="Email">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="address" placeholder="Address">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="city" placeholder="City">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="country" placeholder="Country">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="zip-code" placeholder="ZIP Code">
									</div>
									<div class="form-group">
										<input class="input" type="tel" name="tel" placeholder="Telephone">
									</div>
								</div>
							</div>
						</div>
						<!-- /Shiping Details -->

					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
                                {% for item in cart %}
								<div class="order-col">
									<div>{{ item.quantity }}x {{ item.product.title }}</div>
									<div>${{ item.product.price }}</div>
								</div>
                                {% endfor %}
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">${{ cart.get_total_price }}</strong></div>
							</div>
						</div>
                        <form method="post">
                            {% csrf_token %}
                            <!-- Order notes -->
                            <div class="order-notes">
                                <textarea class="input" placeholder="Order Notes"></textarea>
                            </div>
                            <!-- /Order notes -->
						    <input type="submit" class="primary-btn order-submit" value="Place Order">
                        </form>
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock content %}