{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% translate 'Login' %}{% endblock title %}
{% block content %}
<div class="container">
    <form method="post" action="{% url 'set_language' %}">
        {% csrf_token %}
        <input type="hidden" name="language" value="fa">
        <button type="submit">فارسی</button>
    </form>

    <form method="post" action="{% url 'set_language' %}">
        {% csrf_token %}
        <input type="hidden" name="language" value="en">
        <button type="submit">English</button>
    </form>

    <h1>{% translate 'Login' %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% translate 'Login' %}">
        <a href="{% url 'accounts:register' %}">{% translate 'Register' %}</a>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <hr />
    <a href="{% url 'accounts:mobile_login' %}">{% translate 'Mobile Login' %} </a>
    <a href="{% url 'accounts:email_login' %}">{% translate 'Email Login' %}</a>
</div>
{% endblock content %}