{% extends "base.html" %}
{% load static %}
{% block title %}Search{% endblock title %}
{% block content %}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li><a href="#">All Categories</a></li>
							<li><a href="#">Accessories</a></li>
							<li class="active">Headphones (227,490 Results)</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter">
                            {% for category in categories %}
								<div class="input-checkbox">
									<input type="checkbox"
                                           id="category-{{ category.title }}"
                                           class="category-filter"
                                           value="{{ category.title }}"
                                           {% if category.title == selected_category %} checked {% endif %}
                                    >
									<label for="category-{{ category.title }}">
										<span></span>
                                        {{ category.title }}
										<small>({{ category.product_count }})</small>
									</label>
								</div>
                            {% endfor %}
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Price</h3>
							<div class="price-filter">
								<div id="price-slider"></div>
								<div class="input-number price-min">
									<input id="price-min" type="number" readonly>
								</div>
								<span>-</span>
								<div class="input-number price-max">
									<input id="price-max" type="number" readonly>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Brand</h3>
							<div class="checkbox-filter">
								<div class="input-checkbox">
									<input type="checkbox" id="brand-1">
									<label for="brand-1">
										<span></span>
										SAMSUNG
										<small>(578)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-2">
									<label for="brand-2">
										<span></span>
										LG
										<small>(125)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-3">
									<label for="brand-3">
										<span></span>
										SONY
										<small>(755)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-4">
									<label for="brand-4">
										<span></span>
										SAMSUNG
										<small>(578)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-5">
									<label for="brand-5">
										<span></span>
										LG
										<small>(125)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-6">
									<label for="brand-6">
										<span></span>
										SONY
										<small>(755)</small>
									</label>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Top selling</h3>
							<div class="product-widget">
								<div class="product-img">
									<img src="{%  static './img/product01.png' %}" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>

							<div class="product-widget">
								<div class="product-img">
									<img src="{%  static './img/product02.png' %}" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>

							<div class="product-widget">
								<div class="product-img">
									<img src="{%  static './img/product03.png' %}" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									Sort By:
									<select class="input-select">
										<option value="0">Popular</option>
										<option value="1">Position</option>
									</select>
								</label>

								<label>
									Show:
									<select class="input-select">
										<option value="0">20</option>
										<option value="1">50</option>
									</select>
								</label>
							</div>
							<ul class="store-grid">
								<li class="active"><i class="fa fa-th"></i></li>
								<li><a href="#"><i class="fa fa-th-list"></i></a></li>
							</ul>
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
                            {% for product in products %}
							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{{ product.image.url }}" alt="">
										<div class="product-label">
											<span class="sale">-30%</span>
											<span class="new">NEW</span>
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
										<h4 class="product-price">
                                            {% if product.get_price < product.price %}
                                                {{ product.get_price }}
                                                <del class="product-old-price">{{ product.price }}</del>
                                            {% else %}
                                                {{ product.price }}
                                            {% endif %}
                                        </h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
											<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
										</div>
									</div>
                                    <form method="post" action="{% url 'checkout:add_to_cart' %}">
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" name="update" value="0">
                                        {% csrf_token %}
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
                                    </form>
								</div>
							</div>
							<!-- /product -->
                            {% endfor %}
						</div>
						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Showing 20-100 products</span>
							<ul class="store-pagination">
                                {% with params=current_params.urlencode %}
                                    {% if page_obj.has_previous %}
                                        <li><a href="?page={{ page_obj.previous_page_number }}&{{ params }}"><i class="fa fa-angle-left"></i></a></li>
                                    {% endif %}
                                    {% for num in page_obj.paginator.page_range %}
                                        {% if page_obj.number == num %}
                                            <li class="active">{{ num }}</li>
                                        {% else %}
                                            <li><a href="?page={{ num }}&{{ params }}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li><a href="?page={{ page_obj.next_page_number }}&{{ params }}"><i class="fa fa-angle-right"></i></a></li>
                                    {% endif %}
                                {% endwith %}
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock content %}
{% block scripts %}
    <script>
    $(document).ready(function() {
        $('.category-filter').on('change', function (){
            let searchParams = new URLSearchParams(window.location.search);

            if (this.checked){
                searchParams.set('category', this.value);
            }else {
                searchParams.delete('category');
            }

            if (searchParams.has('q')){
                searchParams.set('q', searchParams.get('q'));
            }

            searchParams.delete('page');

            window.location.href = window.location.pathname + '?' + searchParams.toString();
        });

        //-------------slider-----------

        let priceInputMax = document.getElementById('price-max');
        let priceInputMin = document.getElementById('price-min');

        let priceSlider = document.getElementById('price-slider');
        if (priceSlider) {
            noUiSlider.create(priceSlider, {
                start: [1000, 1000000],
                connect: true,
                step: 1000,
                range: {
                    'min': 1000,
                    'max': 1000000
                }
            });

            let searchParams = new URLSearchParams(window.location.search);
            let minPrice = parseInt(searchParams.get('min_price')) || 1000;
            let maxPrice = parseInt(searchParams.get('max_price')) || 1000000;

            priceSlider.noUiSlider.set([minPrice, maxPrice]);

            priceSlider.noUiSlider.on('update', function( values, handle ) {
                var value = values[handle];
                handle ? priceInputMax.value = value : priceInputMin.value = value;
            });

            priceSlider.noUiSlider.on('end', function( values, handle ) {

                let min = parseInt($("#price-min").val());
                let max = parseInt($("#price-max").val());

                let searchParams = new URLSearchParams(window.location.search);
                searchParams.set('min_price', min.toString());
                searchParams.set('max_price', max.toString());

                if (searchParams.has('q')){
                    searchParams.set('q', searchParams.get('q'));
                }

                if (searchParams.has('category')){
                    searchParams.set('category', searchParams.get('category'));
                }

                searchParams.delete('page');

                window.location.href = window.location.pathname + '?' + searchParams.toString();
            });
        }

        //-------------slider end-----------
    });
    </script>
{% endblock scripts %}